<ion-view view-title="Help" name="about-view">
  <ion-content class="padding" scroll="true">

    <!--Debugging Options-->
    <div style="background: rgb(47, 47, 47); border: 2px solid #000000;">
      <h3 style="color: yellow; text-align: center;">::Debugging Options::</h3>

      <hr style="border-color: red;">
      <h5 style="color: yellow;">::Login/Logout with jwt::</h5>
      <p style="color: yellow;">
        <input style="background: rgb(52, 52, 54); color: white;" type="text" ng-model="token">
        <button style="border: 0px; background: greenyellow;" ng-click="debugLogin(token)">Login</button>
        <button style="border: 0px; background: red;" ng-click="debugLogout(token)">Logout</button>
      </p>

      <hr style="border-color: red;">
      <h5 style="color: yellow;">::Status $interval Start/Stop::</h5>
      <p style="color: yellow;">
        <button style="border: 0px; background: green;" ng-click="start()">Start</button>
        <button style="border: 0px; background: red;" ng-click="stop()">Stop</button>
      </p>

      <hr style="border-color: red;">
      <h5 style="color: yellow;">::Dialogs::</h5>
      <p style="color: yellow;">
        <button style="border: 0px; background: blue;" ng-click="beep()">beep</button>
        <button style="border: 0px; background: yellow;" ng-click="confirm()">confirm</button>
        <button style="border: 0px; background: yellow;" ng-click="prompt()">prompt</button>
      </p>

      <hr style="border-color: red;">
      <h5 style="color: yellow;">::Local Notifications:::</h5>
      <p>
        <button style="margin: 2px; border: 0px; " ng-click="scheduleSingleNotification()">scheduleSingleNotification</button>
        <button style="margin: 2px; border: 0px; " ng-click="scheduleMultipleNotifications()">scheduleMultipleNotifications</button>
        <button style="margin: 2px; border: 0px; " ng-click="scheduleDelayedNotification()">scheduleDelayedNotification</button>
        <button style="margin: 2px; border: 0px; " ng-click="scheduleEveryMinuteNotification()">scheduleEveryMinuteNotification</button>
        <button style="margin: 2px; border: 0px; " ng-click="updateSingleNotification()">updateSingleNotification</button>
        <button style="margin: 2px; border: 0px; " ng-click="updateMultipleNotifications()">updateMultipleNotifications</button>
        <button style="margin: 2px; border: 0px; " ng-click="cancelSingleNotification()">cancelSingleNotification</button>
        <button style="margin: 2px; border: 0px; " ng-click="cancelMultipleNotifications()">cancelMultipleNotifications</button>
        <button style="margin: 2px; border: 0px; " ng-click="cancelAllNotifications()">cancelAllNotifications</button>
      </p>

      <hr style="border-color: red;">
      <h5 style="color: yellow;">::$cordovaNetwork:::</h5>
      <p>
        <button style="border: 0px; background: #6ec52b;" ng-click="nettype()">type</button>
        net_type: {{net_type}}
      </p>
      <p>
        <button style="border: 0px; background: red;" ng-click="netisOnline()">isOnline</button>
        net_isOnline: {{net_isOnline}}
      </p>
      <p>
        <button style="border: 0px; background: red;" ng-click="netisOffline()">isOffline</button>
        net_isOffline: {{net_isOffline}}
      </p>
      <hr style="border-color: red;">

      <h5 style="color: yellow;">::$cordovaToast:::</h5>
      <p>
        <button style="border: 0px; background: #6ec52b;" ng-click="toast()">toast</button>
        <button style="border: 0px; background: red;" ng-click="toast_showShortTop()">toast_showShortTop</button>
        <button style="border: 0px; background: red;" ng-click="toast_showLongBottom()">toast_showLongBottom</button>
      </p>
      <hr style="border-color: red;">


    </div>
  </ion-content>
</ion-view>
