<ion-view view-title="Settings" name="settings-view">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Card #:
      </div>
      <div class="item item-text-wrap">
        <p>Scan your QR-Code card to insert your food card number:</p>
        <button class="button button-balanced" ng-click="insertCardNumber()">QR-Code Scan...</button>
      </div>
      <div class="item item-divider">
        Your card number is: <strong style="color:blue;" ng-bind="cardNumber"></strong>
      </div>
    </div>

    <div style="background: red; color: black;" class="card">
      <div class="item item-divider">
        Danger Zone:
      </div>
      <div class="item item-text-wrap">
        <p>Delete your account and deathorize your facebook account from this application:</p>
        <button class="button button-assertive" ng-click="deleteAccount()">Delete</button>
      </div>
    </div>

  </ion-content>
</ion-view>
