<ion-view title="Give">
  <ion-content padding="false" class="has-header tab_content">

    <!--Meal Buttons-->
    <div class="row meal_buttons">
      <div class="col col-top" style="padding: 0;">
        <div class="button-bar">

          <!--Breakfast btn-->
          <div class="button bar_btn"
               style="border-radius: 0; border: 1px solid rgb(0, 0, 0); color: black;"
               ng-click="offer('B')"
               ng-disabled="status.meals.b.q_username
                            || (status.meals.b.o_today && status.meals.b.sec_left > 0)
                            || (status.meals.b.o_tomorrow && status.meals.b.sec_left <= 0)"
               ng-class="{
                            'button-balanced': status.meals.b.sec_left > 0 && !status.meals.b.q_username,
                            'button-stable': status.meals.b.q_username && status.meals.b.q_username != '*****',
                            'button-assertive': status.meals.b.q_username == '*****',
                            'button-energized': status.meals.b.sec_left <= 0 && !status.meals.b.q_username}"
          >
            <strong>Breakfast</strong>
            <div ng-if="status.meals.b.sec_left > 0">
              <sup>for today</sup>
            </div>
            <div ng-if="status.meals.b.sec_left <= 0">
              <sup>for tomorrow</sup>
            </div>
            <div class="item-text-wrap" ng-if="status.meals.b.q_username">
              <p style="margin: 0;"><strong style="color: black">OK</strong></p>
            </div>
            <div ng-if="!status.meals.b.q_username">
              <sup>{{status.meals.b.sec_left | secondsToDateTime}}</sup>
            </div>
            <sup class="offers_count">{{status.meals.b.questions}}</sup>
            <md-progress-linear md-mode="determinate" value="{{status.meals.b.progress}}"></md-progress-linear>
          </div>

          <!--Lunch btn-->
          <div class="button bar_btn"
               style="border-radius: 0; border: 1px solid rgb(0, 0, 0); color: black;"
               ng-click="offer('L')"
               ng-disabled="status.meals.l.q_username
                            || (status.meals.l.o_today && status.meals.l.sec_left > 0)
                            || (status.meals.l.o_tomorrow && status.meals.l.sec_left <= 0)"
               ng-class="{
                            'button-balanced': status.meals.l.sec_left > 0 && !status.meals.l.q_username,
                            'button-stable': status.meals.l.q_username && status.meals.l.q_username != '*****',
                            'button-assertive': status.meals.l.q_username == '*****',
                            'button-energized': status.meals.l.sec_left <= 0 && !status.meals.l.q_username}"
          >
            <strong>Lunch</strong>
            <div ng-if="status.meals.l.sec_left > 0">
              <sup>for today</sup>
            </div>
            <div ng-if="status.meals.l.sec_left <= 0">
              <sup>for tomorrow</sup>
            </div>
            <div class="item-text-wrap" ng-if="status.meals.l.q_username">
              <p style="margin: 0;"><strong style="color: black">{{status.meals.l.q_username}}</strong></p>
            </div>
            <div ng-if="!status.meals.l.q_username">
              <sup>{{status.meals.l.sec_left | secondsToDateTime}}</sup>
            </div>
            <sup class="offers_count">{{status.meals.l.questions}}</sup>
            <md-progress-linear md-mode="determinate" value="{{status.meals.l.progress}}"></md-progress-linear>
          </div>

          <!--Dinner btn-->
          <div class="button bar_btn"
               style="border-radius: 0; border: 1px solid rgb(0, 0, 0); color: black;"
               ng-click="offer('D')"
               ng-disabled="status.meals.d.q_username
                            || (status.meals.d.o_today && status.meals.d.sec_left > 0)
                            || (status.meals.d.o_tomorrow && status.meals.d.sec_left <= 0)"
               ng-class="{
                            'button-balanced': status.meals.d.sec_left > 0 && !status.meals.d.q_username,
                            'button-stable': status.meals.d.q_username && status.meals.d.q_username != '*****',
                            'button-assertive': status.meals.d.q_username == '*****',
                            'button-energized': status.meals.d.sec_left <= 0 && !status.meals.d.q_username}"
          >
            <strong>Dinner</strong>
            <div ng-if="status.meals.d.sec_left > 0">
              <sup>for today</sup>
            </div>
            <div ng-if="status.meals.d.sec_left <= 0">
              <sup>for tomorrow</sup>
            </div>
            <div class="item-text-wrap" ng-if="status.meals.d.q_username">
              <p style="margin: 0;"><strong style="color: black">{{status.meals.d.q_username}}</strong></p>
            </div>
            <div ng-if="!status.meals.d.q_username">
              <sup>{{status.meals.d.sec_left | secondsToDateTime}}</sup>
            </div>
            <sup class="offers_count">{{status.meals.d.questions}}</sup>
            <md-progress-linear md-mode="determinate" value="{{status.meals.d.progress}}"></md-progress-linear>
          </div>

        </div>
        <div class="row take_status">


          <!--Breakfast status-->
          <div class="col" ng-init="dat=false">

            <md-checkbox
              ng-model="dat"
              md-indeterminate="true"
              ng-disabled="dat"
              aria-label="Confirm"
              class="md-primary"
              ng-click="confirm('B')"
            >
              Confirm
            </md-checkbox>

            <div class="item-text-wrap" ng-if="status.meals.b.q_username">
              Your meal was given to {{status.meals.b.q_username}}!
            </div>

            <div class="item-text-wrap" ng-if="status.meals.b.questions && (status.meals.b.sec_left > 0 && status.meals.b.o_today
                        || status.meals.b.sec_left <= 0 && status.meals.b.o_tomorrow)">
              People ask! Please confirm..
            </div>

            <div ng-if="!status.meals.b.q_username && (status.meals.b.sec_left > 0 && status.meals.b.o_today
                        || status.meals.b.sec_left <= 0 && status.meals.b.o_tomorrow)">
                <span style="color: #cecece;">Pending..</span>
                <a href="" class="button button-clear button-calm t_clear_btn" ng-click="cancel('B')">CANCEL</a>
            </div>

          </div>


          <!--Lunch status-->
          <div class="col">
            <div class="item-text-wrap" ng-if="status.meals.l.o_number && status.meals.l.o_number != '*****'">
              Now it's yours, enjoy it! :)
            </div>
            <div class="item-text-wrap" ng-if="status.meals.l.o_number && status.meals.l.o_number == '*****'">
              Number found!
              You take it ?
              <a href="" class="button button-clear button-balanced t_clear_btn"
                 ng-click="confirm('L')"><strong>YES!</strong></a>
              <a href="" class="button button-clear button-assertive t_clear_btn"
                 ng-click="reject('L')"><strong>NO</strong></a>
            </div>
            <div ng-if="!status.meals.l.o_number && (status.meals.l.sec_left > 0 && status.meals.l.q_today
                        || status.meals.l.sec_left <= 0 && status.meals.l.q_tomorrow)">
              <span style="color: #cecece;">Pending..</span>
              <a href="" class="button button-clear button-calm t_clear_btn"
                 ng-click="cancel('L')">CANCEL
              </a>
            </div>
          </div>

          <!--Dinner status-->
          <div class="col">
            <div class="item-text-wrap" ng-if="status.meals.d.o_number && status.meals.d.o_number != '*****'">
              Now it's yours, enjoy it! :)
            </div>
            <div class="item-text-wrap" ng-if="status.meals.d.o_number && status.meals.d.o_number == '*****'">
              Number found!
              You take it ?
              <a href="" class="button button-clear button-balanced t_clear_btn"
                 ng-click="confirm('D')"><strong>YES!</strong></a>
              <a href="" class="button button-clear button-assertive t_clear_btn"
                 ng-click="reject('D')"><strong>NO</strong></a>
            </div>
            <div ng-if="!status.meals.d.o_number && (status.meals.d.sec_left > 0 && status.meals.d.q_today
                        || status.meals.d.sec_left <= 0 && status.meals.d.q_tomorrow)">
              <span style="color: #cecece;">Pending..</span>
              <a href="" class="button button-clear button-calm t_clear_btn"
                 ng-click="cancel('D')">CANCEL
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row gm_row">
      <div class="col gm_col">
        <ionic-multi-date-picker input-obj="datepickerObject">
          <button class="gm_btn < button button-block button-assertive  give_more_btn">
            Give more..
          </button>
        </ionic-multi-date-picker>
      </div>
      <div class="col gm_col">
        <button class="gm_btn < button button-block button-calm give_more_btn">
          Clear
        </button>
      </div>
      <div class="col gm_col">
        <button class="gm_btn < button button-block button-energized give_more_btn">
          Set
        </button>
      </div>

    </div>
    <div class="list">
      <div class="gm_item_divider">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                Dates ({{ selectedDates.length }})
              </div>
            </div>
          </div>
          <div class="col col-75">
            <div class="row">
              <div class="col">
                Breakfast
              </div>
              <div class="col">
                Lunch
              </div>
              <div class="col">
                Dinner
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="gm_item" ng-repeat="d in selectedDates">
        <div class="row">
          <div class="col gm_col">
            <div class="row">
              <div class="col gm_col">
                {{ d.getDate() }}/{{ d.getMonth() + 1 }}/{{ d.getFullYear() }}
              </div>
            </div>
          </div>
          <div class="col col-75 gm_col">
            <div class="row">
              <div class="col gm_col">
                <md-checkbox class="md-warn md-align-top-left" ng-model="give.b" flex></md-checkbox>
              </div>
              <div class="col gm_col">
                <md-checkbox class="md-warn md-align-top-left" ng-model="give.l" flex></md-checkbox>
              </div>
              <div class="col gm_col">
                <md-checkbox class="md-warn md-align-top-left" ng-model="give.d" flex></md-checkbox>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
