<ion-view view-title="Settings -> Account" name="account-view">
  <ion-content class="padding">

    <div style="background: red; color: black;" class="card">
      <div class="item item-divider">
        Danger Zone:
      </div>
      <div class="item item-text-wrap">
        <p>Delete your account and deathorize your facebook account from this application:</p>
        <button class="button button-assertive" ng-click="deleteAccount()">Delete</button>
      </div>
    </div>

  </ion-content>
</ion-view>
