<ion-view view-title="Settings" name="settings-view">
  <ion-content scroll="true" padding="false">

    <div class="list card settings_list_card">

      <a href="#/account" class="item item-icon-left item-icon-right settings_item">
        <i class="icon ion-android-person"></i>
        Account
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a href="#/scan" class="item item-icon-left item-icon-right settings_item">
        <i class="icon ion-card"></i>
        Card #
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a href="#/notifications" class="item item-icon-left item-icon-right settings_item">
        <i class="icon ion-android-notifications"></i>
        Notifications
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
