<ion-view view-title="Sign-In" name="login-view">
  <ion-content padding="true">

    <div class="row card menu_card">
      <div class="top-content row">
        <div class="app-copy welcome-logo">
          <div style="text-align: center;">

            <h1 style="color: #FFEB3B;
    /* position: fixed; */
    margin: 0px;" class="app-logo">Restaurant</h1>
            <img src="img/Restaurant.png" alt="Logo" height="225" width="234">
          </div>

          <p class="app-tagline welcome-text">
            Find breakfast/lunch/dinner from people who provide their portion!
          </p>
        </div>

      </div>


    </div>


    <div class="bottom-content row">
      <div style="text-align: center;" class="col col-bottom">

        <a style="background-color:#294886; color:white" class="fb-button" ng-click="login()">
          Log in with Facebook
        </a>

      </div>
    </div>

  </ion-content>
</ion-view>
