<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="lib/angular-jwt/dist/angular-jwt.js"></script>

  <script src="lib/ionic-multi-date-picker/dist/ionic-multi-date-picker.bundle.min.js"></script>
  <script src="lib/ionic/js/angular/angular-mocks.js"></script>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="lib/angular-utf8-base64/angular-utf8-base64.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>

  <!--Angular environment plugin-->
  <script src="lib/angular-environment/src/angular-environment.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">


  <link href="css/style.css" rel="stylesheet">
  <link async href="lib/open-sans.css" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>


  <script src="app/app.js"></script>
  <script src="app/constants.js"></script>
  <script src="app/config.js"></script>
  <script src="app/controllers.js"></script>
  <script src="app/services.js"></script>
  <script src="app/filters.js"></script>
  <script src="app/directives.js"></script>

  <!-- Only required for Tab projects w/ pages in multiple tabs
  <script src="lib/ionicuirouter/ionicUIRouter.app"></script>
  -->
</head>

<body style="background: black" ng-app="restaurant" ng-controller="mainCtrl" animation="slide-left-right-ios7">

<ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content drag-content="false">

      <!--Nav bar-->
      <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
        <!--Open menu button-->
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>

    <!--Menu bar-->
    <ion-side-menu side="left" id="side-menu21">
      <ion-header-bar class="bar-stable">
        <div class="title">Menu</div>
      </ion-header-bar>

      <ion-content ng-controller="menuCtrl" padding="false" class="side-menu-left has-header">
        <div class="list">
          <a menu-close class="item item-icon-left menu_bar_item" href="#/tab/menu">
            <i class="icon ion-ios-home-outline"></i>
            Home
            <span class="item-note">Menu, Take, Give</span>
          </a>
          <a menu-close class="item item-icon-left menu_bar_item" href="#/settings" ng-if="isLoggedIn">
            <i class="icon ion-gear-a"></i>
            Settings
          </a>
          <a menu-close class="item item-icon-left menu_bar_item" href="#/login" ng-if="!isLoggedIn">
            <i class="icon ion-log-in"></i>
            Sign-In
          </a>
          <a menu-close class="item item-icon-left menu_bar_item" href="" ng-if="isLoggedIn" ng-click="showLogOutMenu()">
            <i class="icon ion-log-out"></i>
            Sign-out
          </a>
          <a menu-close class="item item-icon-left menu_bar_item" href="#/help">
            <i class="icon ion-help"></i>
            Help
            <span class="item-note">functionality and more..</span>
          </a>
          <a menu-close class="item item-icon-left menu_bar_item" href="#/about">
            <i class="icon ion-information"></i>
            About
            <span class="item-note">Credits</span>
          </a>
        </div>

      <div style="text-align: center;">
        <img src="img/icons/restaurant-eating-tools-set-of-three-pieces.png" alt="Smiley face">
      </div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

</body>
</html>
