ion-side-menus.view {
  background: black !important;
}

.item.activated {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f80000;
  /* box-shadow: inset 0px 0px 1px 0px rgb(29, 31, 32); */
}

.platform-ios .manual-ios-statusbar-padding {
  padding-top: 20px;
}

.manual-remove-top-padding {
  padding-top: 0px;
}

.manual-remove-top-padding .scroll {
  padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left: -10px;
  margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
}


.row {
  padding: 0px;
}



/*Menu bar*/

.bar-header {
  top: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.bar.bar-stable {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  /* background-image: linear-gradient(0deg, #ff7200, #ffd400 50%, rgb(254, 255, 0) 50%); */
  color: #444;
}


/*********************************************************************/
ion-nav-view.view-container {
  background: #272b30;
  /* background: url(../img/377d1b7c.png); */
  /* border-style: solid; */
  /* background-position: center; */
  /* background-repeat: space; */
  /* background-size: 100% 100%; */
}

ion-view.pane {
  background: #272b30;
  /* background: url(../img/pattern.png); */
  /* border-style: solid; */
  background-position: center;
  background-repeat: space;
  background-size: 100% 100%;
}

.bar.bar-stable {
  /* border-color: #434343; */
  background-color: rgb(29, 31, 32);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
  background: rgb(58, 63, 68); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */ /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.bar-stable .button.button-clear {
  color: #000;
}

.buttons.buttons-right {
  top: 2.5px !important;
}

.menu {
  background-color: #272b30;
  /* background: url(../img/6b281f62.png); */
}

.menu_bar_item {/* border-color: #444444; */background-color: #32383e;color: #ffffff !important;border-width: 0px;margin: 1px 1px 1px 0px;}



/*Header bar*/
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background: transparent;
  background-color: #1d1f20;
  border-color: #434343;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
  background: #3a3f44; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */ /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.bar.bar-stable .title {
  color: #f2f2f2;
}

/*Tabs*/
.tab_content {
  text-align: center;
  /* background: url(../img/377d1b7c.png); */
  /* background-color: #343436; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343436+99,343436+99,000000+100 */
  /* background: rgba(0, 18, 255, 0.4); */
  background: -moz-linear-gradient(top,  rgba(52,52,54,1) 99%, rgba(52,52,54,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top,  rgba(52,52,54,1) 99%,rgba(52,52,54,1) 99%,rgba(0,0,0,1) 100%); */ /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom,  rgba(52,52,54,1) 99%,rgba(52,52,54,1) 99%,rgba(0,0,0,1) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343436', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.menu-col-75 {
  margin: 3px;
  padding: 1px;
}

.menu-card {
  background: rgba(29, 31, 32, 0.6);
  /* width: 95%; */
  margin: 10px 0px;
  padding: 1px;
}

.menu-content {
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  margin-top: 0px !important;
}

menu-header{

}

#take_logo {
  background-color: black;
  background-position: center;
  background-repeat: space;
  background-size: 100% 100%;
  height: 100px;
}

.button.button-balanced {
  color: #000;
}

.button.button-balanced:hover {
  /* color: #33cd5f; */
}

.button.button-stable {
  color: #000;
}

.button.button-energized {
  color: #000;
}

.button.button-energized:hover {
  color: rgba(0, 0, 0, 0.5);
}

.button.button-stable {
  border-color: transparent;
  background-color: rgb(137, 248, 255);
  /* color: #444; */
}

.button-bar > .button {
  padding: 1px 1px;
}


.offers_count{
  float: right;
  color: rgba(0, 0, 0, 0.4);
  font-family: fantasy;
}


.pending_status{
  float: left;
  color: rgb(29, 31, 32);
  /* font-family: fantasy; */
}


.header_title{
  color: #ffffff;
  /* border: 1px solid rgb(0, 0, 0); */
  background: rgb(54, 54, 54);
  /* border-radius: 15px; */
  padding: 4px;
  letter-spacing: 6px;
  margin: 0;
  box-shadow: 0px 0px 9px black;
}

.row.meal_buttons {
  padding: 0px;
}

.col.col-top {
  background: rgba(29, 31, 32, 0.70);
  /* border: 1px; */
  margin-bottom: 5px;
  border-style: ridge;
  min-height: 144px;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(90, 90, 90, 0.8);
  border-radius: 0px;
  /* box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1); */
}


.bar_btn {
  min-height: 45px;
  line-height: 20px;
}

md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
  background-color: rgb(0, 0, 0);
}

.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
  display: inline-block;
  padding: 0 0 1px 0;
  vertical-align: inherit;
  font-size: 17px;
  line-height: 18px;
  pointer-events: none;
}

.t_clear_btn {
  padding: 0px 0px 2px 0px;
  min-height: 14px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 19px;
}


.take_cancel_btn {
  padding: 0px 0px 0px 0px;
  min-height: 0px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
}



.take_status{
  color: #fafafa;
}

.take_list_btn {
  min-height: 19px;
  line-height: 15px;
  padding: 1px;
  font-size: 12px;
  float: right;
}

.queue_card {
  overflow: hidden;
  margin: 4px 2px 0px 2px;
  border-radius: 2px;
  background-color: rgb(29, 31, 32);
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  /* border: 1px solid #313131; */
  border: 1px solid #000000;
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.3);
  color: white;
}

.queue_item_divider {
  padding: 0px;
  min-height: 20px;
  font-size: 9px;
  background-color: rgb(29, 31, 32);
  color: #cecece;
  border: 0px solid rgba(0, 0, 0, 0.04);
}

.queue_item {
  background-color: rgba(255, 255, 255, 0);
  color: #757575;
  padding: 0px;
  border-width: 0px;
  font-size: 8px;
}


.confirm_wait{
  background: coral;
  color: white;
}

.tabs {
  background-color: #2f7c45;
}

.tabs-stable > .tabs, .tabs.tabs-stable {
  border-top: 2px solid rgb(58, 63, 68) !important;
  /* border-bottom: 2px solid rgb(255, 124, 14) !important; */
  /* background-color: rgb(255, 167, 75); */
  /* background-image: linear-gradient(0deg, rgba(65, 65, 65, 0.8), rgba(65, 65, 65, 0.8) 50%, rgba(65, 65, 65, 0.8) 50%); */
  /* color: #444; */
  background: rgba(21, 22, 22, 0.8);
  background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%);
  /* background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */
  /* background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );
  /* box-shadow: 1px -1px 11px 0px rgb(30, 31, 32); */
}

a.tab-item.tab-item-active {
  color: #f2f2f2;
}

a.tab-item{
  color: #9d9d9d;
  opacity: 1 !important;
}



.gm_btn{
  margin: 0;
  border-radius: 0;
  padding: 0 5px;
  min-width: 25px;
  min-height: 25px;
  font-size: 16px;
  line-height: 35px;
}

.button.button-block, .button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
}


.gm_item_divider{
  padding-top: 0;
  padding-bottom: 0;
  min-height: 15px;
  background-color: #1d1f20;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgb(29, 31, 32);
}

.gm_item{
  overflow: hidden;
  margin: 2px;
  border-radius: 2px;
  background-color: rgb(29, 31, 32);
  border: 1px solid #000000;
  color: white;
}

.gm_row{
  padding: 0;
}

.gm_col{
  padding: 0;
}
.gm_checkbox{

  border-width: 0px;
  background-color: rgba(255, 0, 0, 0);

}

md-radio-button .md-off, md-radio-button .md-on {
  border-radius: 30%;
}

md-radio-button {
  margin-bottom: 0px;
}

md-checkbox {
  margin-bottom: 3px;
}

md-checkbox.md-default-theme:not([disabled]).md-warn .md-ink-ripple, md-checkbox:not([disabled]).md-warn .md-ink-ripple {
  color: rgb(255, 201, 0);
}


.welcome-logo{
  /* background: rgba(0, 0, 0, 0.3); */
  /* border: 1px; */
  /* margin-bottom: 5px; */
  /* min-height: 144px; */
  /* border-bottom: 1px; */
  /* border-style: solid; */
  /* border-color: rgba(90, 90, 90, 0.8); */
  /* border-radius: 0px; */
  /* box-shadow: 0px 5px 20px 12px rgba(0, 0, 0, 0.3); */
  padding: 15px;
}

.button.button-energized {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7cb5b+0,fccd4d+50,f8b500+51,f7cb5b+100 */
  background: #f7cb5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7cb5b 0%, #fccd4d 50%, #f8b500 51%, #f7cb5b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f7cb5b 0%,#fccd4d 50%,#f8b500 51%,#f7cb5b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f7cb5b 0%,#fccd4d 50%,#f8b500 51%,#f7cb5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cb5b', endColorstr='#f7cb5b',GradientType=0 ); /* IE6-9 */
}

.button.button-balanced {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100 */
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}


md-progress-linear .md-container .md-bar1, md-progress-linear .md-container .md-bar2 {
  -webkit-transition: initial !important;
  transition: initial !important;
}

div.photo {
  border: 1px rgba(20, 43, 62, 1);
  min-height: 20px;
  min-width: 20px;
  border-style: solid;
  background-position: center;
  background-repeat: space;
  background-size: 100% 100%;
  background-color: rgba(0, 110, 255, 0.3);
}




/*Facebook button: http://enjoycss.com/code/#text*/
.fb-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  padding: 0 20px 0 73px;
  border: none;
  border-radius: 2px;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(100,138,214,1);
  -webkit-box-shadow: 0 5px 0 0 rgba(88,116,173,1);
  box-shadow: 0 5px 0 0 rgba(88,116,173,1);
  text-shadow: 0 1px 1px rgba(87,151,180,0.36);
  -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.fb-button:hover {
  background: rgba(91,125,193,1);
  -webkit-box-shadow: 0 5px 0 0 rgba(80,105,155,1) ;
  box-shadow: 0 5px 0 0 rgba(80,105,155,1) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.fb-button:active {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 0 rgba(80,105,155,1) ;
  box-shadow: 0 3px 0 0 rgba(80,105,155,1) ;
}

.fb-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://enjoycss.com/bg-img/custom/21875-v2clm0.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 30px auto;
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  font-size: 12px !important;
}

.welcome-text{
  color: #000000;
  /* text-shadow: 0px 0px 2px rgb(255, 255, 255); */
  /* font-size: medium; */
  /* font-family: cursive; */
}
